body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D9DDDC;
}

/* Header */
header {
    background-color: #363636;
    color: #999da0;
    text-align: center;
    padding: 25px;
}

/* Cards */
.biography,
.interests {
    background-color: #363636;
    color: #999da0;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 8px #544c4a;
}

/* About Me layout */
.biography {
    background-color: #363636;
    color: #999da0;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 8px #544c4a;
    text-align: center;
}

/* Image */
.biography img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
    display: block;
    margin: 0 auto 20px auto;
}

/* Headings */
.biography h2,
.interests h2 {
    margin-top: 0;
    color: #999da0;
}

/* Lists */
.interests ul {
    padding-left: 25px;
}

.interests li {
    margin-bottom: 8px;
}

/* Footer */
footer {
    background-color: #363636;
    color: #999da0;
    text-align: center;
    padding: 20px;
}